# VITE_API_BASE_URL = 백엔드 베이스만. /todos 는 붙이지 않음(todoApi.js가 경로 추가).
# 로컬: http://localhost:5000 | Heroku: https://<app>.herokuapp.com
# 수정 후 `npm run dev` 재실행. 비어 있으면 todoApi.js의 Heroku DEFAULT 사용.
VITE_API_BASE_URL=https://vcn-todo-backend-202c8e7d5e33.herokuapp.com
